* {
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}
.container {
  max-width: 1400px;
  width: 100%;
  display: flex;
  position: relative;
  display: grid;
  place-items: center;
  grid-template-columns: 50% 50%;
}

.topbar {
 display: flex;
 align-items: center;justify-content: center;
  width: 100%;
  padding: 20px 0;
}
.topbar .logo {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(75%);

  gap: 20px;
}
.logo img {
  width: 65px;
  height: 88px;
}
.topbar .searchbar {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  justify-self: end;
  
  right: 200px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #f1f1f1;
  /* position: sticky;
  left: 0; */
}

.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;


  max-width: 1400px;
  width: 100%;
  height: 54px;
}

.nav-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.nav-item {
  padding: 20px 40px 17px 16px;
  color: black;
  text-align: center;
  cursor: pointer;
  position: relative;
  border-left: 1px solid #e2e2e2;
  font-size: 14px;
}
.nav-item:last-child {
  border-right: 1px solid #e2e2e2;
}

.nav-item:hover {
  background-color: white;
}
.has-submenu{
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
    opacity: 1;
}
.submenu {
    width: 237px;
    height: 460px;
  display: none;
  position: absolute;
  left: -10px;
  bottom: -460px;
  background: #FFFFFF;
  padding: 33px;
  z-index: 100;
  text-align: left;
  opacity: 0;
  list-style: none;
  padding-bottom: 10px;
  padding-right: 0;

 
}
.submenu li, .expanded-submenu li {
    border-bottom: 1px solid #F2F2F2;
    color: #8E8E8E;
    padding: 8px 0 ;
    width: 100%;
}
.submenu li:hover{
    color: black;
}

.expanded-submenu{
    position: absolute;
    display: none;
    left: 220px;
    width: 237px;
    height: 460px;
    top: 0;
    background: #F2F2F2;
    padding: 33px;
    z-index: 100;
    list-style: none;
    padding-bottom: 10px;

}
.expanded-submenu li{
    border-bottom: 1px solid white;
    color: #8E8E8E;

}
.submenu li:last-child{
    border: none;
}
.expanded-submenu li:last-child{
    border: none;
}

.has-expanded-submenu:hover .expanded-submenu{
    display: block;


}



/*

//////////////////////hero carousel

*/
.hero {
  width: 100%;
  height: 680px;
  position: relative;
  overflow: hidden;
}
.hero-carousel {
  max-width: 100%;
  height: 580px;
  overflow: hidden;
  transition: opacity 0.5s ease;
  position: relative;
}
.hero-carousel aside {
  position: absolute;
  bottom: 30px;
  left: 20%;
  font-family: "Helvetica Neue LT GEO Caps";
  font-size: 30px;

  line-height: 34px;

  text-align: left;
  color: #ffffff;
  max-width: 680px;
  width: 100%;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slide.active {
  opacity: 1;
}
.slide img {
  width: 100%;
  height: 100%;
}

.prev,
.next {
  color: #333333;
  border: none;
  background: white;
  cursor: pointer;
  padding: 6px 8px;
  border: 1px solid #333333;
  border-radius: 25px;
}

.bullets {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-left: 400px;
  width: 100%;
  gap: 21px;
  height: 100px;
  margin-top: 10px;
  z-index: 2;
}

.bullet {
  display: inline-block;
  width: 13px;
  height: 13px;

  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #333333;
}

.bullet.active {
  background-color: #00923f;
  border: none;
}

/*
news section .////////////


*/

.news{
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #F2F2F2;
 
}
.news-container{
  max-width: 1400px;
  width: 100%;
  display: grid;
  place-items: center;
  gap: 30px;
  grid-template-columns: 80% 20%;

}
.news-left{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 137px;
  padding-top: 75px;
}





.carousel-container {
  position: relative;

  margin: auto;
  overflow: hidden;
  
  padding-bottom: 50px;
}

.carousel {
  display: flex;
  gap: 16px;
  transition: transform 0.5s ease;
}

.carousel-item {
  box-sizing: border-box;
  min-width: calc((100% / 4) - 15.9px);
  /* რამდენის გამოჩენა გვინდა აქედან კონტროლდება, დაშორება რამდენიცაა იმდენი უნდა გამოაკლო თორე უშნოდ ჩანს */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 278px;
  position: relative;
  text-align: center;
  background-color: white;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.03 ));
  border-radius: 10px;
  margin-bottom: 27px;

}
.carousel-item-date{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 5px;
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00923f;
  color: white;
  padding: 8px;
  font-size: 14px;
}
.carousel-item-date span:nth-child(2){
  opacity: 0.5;
}

.carousel-item-date-sakrebulo{
  background: #DA251C;
}
.carousel-item-top{
  width: 100%;
  height: 124px;
  margin-top: 30px;
}
.carousel-item-bottom{
  padding: 15px 17px;
  font-family: "Helvetica Neue LT GEO";
font-size: 14px;
font-weight: normal;
line-height: 18px;
font-style: normal;
text-align: left;
color: #8e8e8e;

}

.carousel-btns{
  position: absolute;
 
  bottom: 0;
  left: 0;

}
.carousel-button {

  color: #8e8e8e;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.carousel-button.prev {
  left: 10px;
}

.carousel-button.next {
  right: 10px;
}


.news-right{
  height: 100%;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  gap: 26px;
  padding-top: 26px;
}

.news-right img{
  width: 13px;
  height: 13px;
  
}


.radio-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.radio-group label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.radio-group input[type="radio"] {
  display: none;
}

.radio-group span {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height:30px;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 50%;
  /* background-color: #fff; */
  position: relative;
  transition: background-color 0.3s, border-color 0.3s;
  margin-right: 7px;
}

.radio-group input[type="radio"]:checked + span {
  background-color: green;
  border: 2px solid green;
}

.radio-group input[type="radio"]:checked + span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}


.news-right a{
  max-width: 250px;
  width: 100%;
  padding: 14px;
  display: flex;align-items: center;
  gap: 7px;
  border: 1px solid #F2F2F2;
  border-radius: 10px;
  height: 40px;
 
  box-shadow: 0px 5px 4.5px rgba(0, 0, 0, 0.03);
}
.news-right a img{
  box-sizing: content-box;
  padding-right: 10px;
  border-right: 1px solid #E2E2E2;
}
.news-calendar{
  height: 274px;
  width: 256px;
}