

@font-face {
  font-family: "font-75-caps";
  src: url("fonts/helvetica-neue-lt-geo-75-bold-caps.ttf")
}
@font-face {
  font-family: "font-caps";
  src: url("fonts/helvetica-neue-lt-geo-55-roman-caps.ttf")
}
@font-face {
  font-family: "font-55";
  src: url("fonts/helvetica-neue-lt-geo-55-roman.ttf");
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
::-webkit-scrollbar{
  width: 1px;
}

* {
  font-family: "font-55", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}
img{
  width: 100%;
  height: 100%;
}
h1,h2{
  font-family: "font-caps";

}
.citizens-left h5{
  font-family: 'font-caps';
}
footer h4{
  font-family: "font-caps";
}
a {
  text-decoration: none;
  color:#333333
}
.nav-list a{
  font-family: 'font-caps';
}
.container {
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 750ms ease;
  -o-transition: 750ms ease;
  transition: 750ms ease;

}

.topbar {
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;
  width: 100%;
  background-color: white;
  padding: 20px 0;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(165, 163, 163, 0.462);
          box-shadow: 0px 5px 10px 0px rgba(165, 163, 163, 0.462);

  -webkit-transition: 750ms ease;

  -o-transition: 750ms ease;

  transition: 750ms ease;
}
.topbar .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: "font-caps";


  gap: 20px;
}
.logo p{
  font-family: "font-caps";

}
.logo img {
  width: 65px;
  height: 88px;
}
 .searchbar {
  
  position: absolute;
  right: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  gap: 13px;
}
.searchbar img{
  padding-right: 13px;
  border-right: 1px solid #E2E2E2;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  cursor: pointer;

  opacity: 0.7;
}
.searchbar img:hover{
  
  opacity:1;
}

.searchbar a{
  height:20px ;
  width: 20px;
  cursor: pointer;
  font: "font-caps";
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  opacity: 0.7;
}
.searchbar a:hover{
 opacity: 1;
}

.navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  background-color: #f1f1f1;
  -webkit-transition: 750ms ease;
  -o-transition: 750ms ease;
  transition: 750ms ease;


  /* position: sticky;
  left: 0; */
}
#hamburger {
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 20px;
  position: relative;
  -webkit-transition: 550ms all;
  -o-transition: 550ms all;
  transition: 550ms all;
  display: none;
}

#hamburger span {
  background-color: black;
  position: absolute;
  display: block;
  height: 2px;
  width: 100%;
  /* border-radius: 5px; */
  -webkit-transition: 0.1s;
  -o-transition: 0.1s;
  transition: 0.1s;
}

#hamburger span:nth-child(2) {
  top: 15px;
}

#hamburger span:nth-child(3) {
  top: 30px;
}

#hamburger.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  left:3px;
  top: 17px;
}

#hamburger.open span:nth-child(2) {
  -webkit-transform: translate(-60px);
      -ms-transform: translate(-60px);
          transform: translate(-60px);
  opacity: 0;
}

#hamburger.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
          transform-origin: left center;
  left: 3px;
  top: 40px;
}
#hamburger.open{
  position: absolute;
  left: 200px;
  margin-bottom: 90px;

  z-index: 100000000000;

}

.navbar {

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;


  max-width: 1400px;
  width: 100%;
  height: 54px;
}

.nav-list {
  list-style: none;
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.nav-list > * {height: 100%;
  border-left: 1px solid #E2E2E2;
  padding-left: 20px;
  padding-right: 63px;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;

display: -webkit-box;

display: -ms-flexbox;

display: flex;-webkit-box-pack: center;-ms-flex-pack: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;}


.nav-item {
  /* padding: 21px 65px 17px 26px; */
  color: black;
  text-align: center;
  
  cursor: pointer;
  position: relative;
  font-family: "font-caps";
  font-size: 14px;
}

.has-submenu{
    position: relative;
}

.has-submenu:hover .submenu {
    display: block;
    opacity: 1;
}
.submenu {
    width: 237px;
  display: none;
  position: absolute;
  left: -4px;
  background: #FFFFFF;
  padding: 15px 10px;
  padding-left: 30px;
  z-index: 100;
  text-align: left;
  opacity: 0;
  list-style: none;
  padding-right: 0;top: 38px;
  margin-top: 15px;

 
}
.submenu li, .expanded-submenu li {
    border-bottom: 1px solid #F2F2F2;
    color: #8E8E8E;
    padding: 8px 0 ;
    width: 100%;
}
.submenu li a{
  color: #8E8E8E;
}
.submenu li a:hover{
    color: black;
}

.expanded-submenu{
    position: absolute;
    display: none;
    left: 230px;
    width: 237px;
   
    top: 0;
    background: #F2F2F2;
  
    padding: 15px 10px;
    padding-left: 30px;
    z-index: 100;
    list-style: none;
    padding-bottom: 10px;

}
.expanded-submenu li {
    border-bottom: 1px solid white;
    color: #8E8E8E;

}
.submenu li:last-child{
    border: none;
}
.expanded-submenu li:last-child{
    border: none;
}

.has-expanded-submenu:hover .expanded-submenu{
    display: block;


}
.has-expanded-submenu p img{
  width: 5px;
  margin-left: 80px;

}
.meria-nav-prev{
  display: none;
}
.branches-nav-prev{
  display: none;
}
.active-nav{
  background-color: white;
}



/*

//////////////////////hero carousel

*/
.hero {
  width: 100%;
  height: 680px;
  position: relative;
  overflow: hidden;
}
.hero-carousel {
  max-width: 100%;
  height: 580px;
  overflow: hidden;
  -webkit-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  position: relative;
  cursor: pointer;
}
.hero-carousel aside {
  position: absolute;
  bottom: 30px;
  left: 17%;
  font-family: "font-caps";
  font-size: 30px;
  line-height: 34px;

  text-align: left;
  color: #ffffff;
  max-width: 680px;
  width: 100%;
}
.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  /* transform:translateX(100%); */
  -webkit-transition:  750ms ease-in-out;
  -o-transition:  750ms ease-in-out;
  transition:  750ms ease-in-out; 
  opacity:0;
}
.slide.active {
  -webkit-transform:translateX(0);
      -ms-transform:translateX(0);
          transform:translateX(0);
  opacity: 1;
}
.slide img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover; 
  -webkit-user-drag: none;
}

.prev,
.next {

  cursor: pointer;


}

.next:hover path{
  stroke:#333333;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;

}
.prev:hover path{
  stroke: #333333;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}

.bullets {
  position: absolute;
  bottom: 0px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  padding-left: 400px;
  width: 100%;
  gap: 21px;
  height: 100px;
  margin-top: 10px;
  z-index: 2;
}

.bullet {
  display: inline-block;
  width: 13px;
  height: 13px;

  border-radius: 15px;
  cursor: pointer;
  border: 1px solid #333333;
}

.bullet.active {
  background-color: #00923f;
  border: none;
}

/*
news section .////////////


*/

.news{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #F2F2F2;

 
}
.news-container{
  max-width: 1400px;
  width: 100%;
  display: -ms-grid;
  display: grid;
 
  gap: 30px;
  -ms-grid-columns: 80% 30px 20%;
  grid-template-columns: 80% 20%;
  

}
.news-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* align-items: center; */
  gap: 50px;
  padding: 55px 0px;
}
.news-left h2,
.announcments-container h2{
  font-size: 30px;
  font-family: 'font-caps';
  color: #333333;

}
.news-left h3{
  margin-bottom: 8px;
  font-size: 18px;
}
.sakrebulo-news h3{
  color:#DA251C

}
.meria-news h3{
  color:#00923f

}





.carousel-container {
  position: relative;
  margin: auto;
  overflow: hidden;
  padding-bottom: 50px;
}

.carousel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
  -webkit-transition: -webkit-transform 0.5s ease;
  transition: -webkit-transform 0.5s ease;
  -o-transition: transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}

.carousel-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: calc((100% / 4) - 15.9px);
  /* რამდენის გამოჩენა გვინდა აქედან კონტროლდება, დაშორება რამდენიცაა იმდენი უნდა გამოაკლო თორე უშნოდ ჩანს */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 278px;
  position: relative;
  text-align: center;
  background-color: white;
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  border-radius: 10px;
  margin-bottom: 27px;
  cursor: pointer;
  -webkit-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;

}
.carousel-item-date{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  gap: 5px;
  position: absolute;
  height: 30px;
  top: 0;
  left: 0;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  background-color: #00923f;
  color: white;
  padding: 8px;
  font-size: 14px;
}
.carousel-item-date span:nth-child(2){
  opacity: 0.5;
}

.carousel-item-date-sakrebulo{
  background: #DA251C;
}
.carousel-item-top{
  width: 100%;
  height: 124px;
  margin-top: 30px;
  position: relative;
  overflow: hidden;

}

.carousel-item-top::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #333333;
  opacity: 0.3;
  z-index: 2;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;

}
.carousel-btns a{
  color: #8E8E8E;
  text-decoration: underline;
}

.carousel-item:hover .carousel-item-top::before{
  opacity: 0;
}
.carousel-item:hover .carousel-item-date span{
  opacity: 1;
}
.carousel-item:hover .carousel-item-bottom{
  color: #333333;
  font-weight: bold;

}
.carousel-item-top > img{
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  -o-transition: transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease; /* Add smooth transition */
}
.carousel-item:hover .carousel-item-top > img{
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); /* Adjust the scale value as needed */
    
}
.carousel-item-bottom{
  padding: 15px 17px;
  font-family: "font-55";
font-size: 14px;
font-weight: normal;
line-height: 18px;
font-style: normal;
text-align: left;
color: #8e8e8e;

}

.carousel-btns{
  position: absolute;
 
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 34px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}


.news-right{
  height: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  padding: 10px;
  gap: 26px;
  padding-top: 26px;
  color: #333333;
  border-top:2px solid #F2F2F2;

  z-index: 2;
}

.news-right img{
  width: 13px;
  height: 13px;
  
}



.news-right a{
  max-width: 250px;
  width: 100%;
  padding: 14px 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  gap: 7px;
  border: 10px;
  height: 40px;
  color: #333333;
  font-family: 'font-caps';
  -webkit-box-shadow:0px 4px 5px 1px rgba(242,242,242,1);
  box-shadow: 0px 4px 5px 1px rgba(242,242,242,1);
  border-radius: 10px;
  -webkit-transition: 250ms;
  -o-transition: 250ms;
  transition: 250ms;
}
.news-right a span{
  font-family: 'font-caps';
}
.news-right a:hover{
  color: #00923F;
}
.survey h4{
  font-family: 'font-caps';
}
.news-right a img{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-right: 10px;
  border-right: 1px solid #E2E2E2;
}
.news-calendar{
  height: 274px;
  max-width: 256px;
  width: 100%;
  -webkit-box-shadow:0px 4px 5px 1px rgba(242,242,242,1);
  box-shadow: 0px 4px 5px 1px rgba(242,242,242,1);
  border-radius: 10px;
}

.survey {
  max-width: 256px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow:0px 4px 5px 1px rgba(242,242,242,1);
box-shadow: 0px 4px 5px 1px rgba(242,242,242,1);
border-radius: 10px;

  padding: 10px;
  gap: 9px;
}

.survey header{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  gap: 7px;
  
}
.survey header img{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  width: 16px;
  height: 15px;
  padding-right: 8px;
  border-right: 1px solid #E2E2E2;
}
.survey span{
  font-size: 12px;
font-weight: normal;
line-height: 14px;
max-width: 226px;
width: 100%;
}
.survey-btns button{
  font-family: 'font-caps';
}

.radio-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 10px;
}

.radio-group label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}




.radio-group input[type="radio"] {
  width: 18px;
  height: 18px;
  margin-right: 7px;
  cursor: pointer;
  border-radius: 10px;
 
}

.radio-group input[type="radio"]:checked {
  
  accent-color: green;
}



.radio-group input[type="radio"] + p {
  color: #8E8E8E;
}
.radio-group input[type="radio"]:checked + p {
  color: #333333;
}
.survey-btns{
  max-width: 256px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 18px;
  margin-top: 19px;
}
.survey-btns button{
  border: none;
  cursor: pointer;
  font-weight: bold;
  -webkit-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
 
}
.survey-vote{
  width: 172px;
  height: 31px;
  -webkit-box-shadow: 0px 3px 1.5px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 3px 1.5px rgba(0, 0, 0, 0.1);
  color: #333333;
  background-color: #F2F2F2;
  border-radius: 16px;
 
}
.survey-vote:hover{
  background:#00923f;
  color: white;
 
}
.survey-results{
  color: #00923f;
  background: none;
  padding: 10px;
}
.survey-results:hover{
  color: #333333;
  scale: 1.1;
}


.announcments{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
background: white;
padding: 50px 0;
}
.announcments-container{
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.announcments-container h2{
  font-size: 30px;
}
.announcments-wrapper{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 45px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

  gap: 16px;

}
.announcments-wrapper aside{
  width: 50%;
}
.announcments-wrapper h3{
  margin-bottom: 8px;
  font-family: "Helvetica Neue LT GEO Caps";
font-size: 18px;

color: #da251c;


}
.announcments-wrapper  aside:nth-child(2) h3{
color: #00923f;


}
.announcments-col{
  
  -webkit-box-flex: 1;
  
      -ms-flex: 1;
  
          flex: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;

}



.announcments .carousel-item{
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  min-width: calc(100%);
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: none;
          box-shadow: none;
  

}
.announcments .carousel {
  gap: 0;
  max-width: 100%;

}
.announcment .carousel-container{
  width: 50%;
}

.announcment{
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
    -ms-flex-direction: column;
        flex-direction: column;
/* max-width: 536px; */
-webkit-box-align: start;
    -ms-flex-align: start;
        align-items: start;
width: 100%;
border: 1px solid #e2e2e2;
border-radius: 10px;
background: #f2f2f2;
padding: 7px 17px 17px 17px;
font-size: 14px;
text-align: start;
margin-bottom:13px;

}
.announcment:hover{
  background-color: white;
}

.announcment-btns{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 7px;
  position: absolute;
  right: 10px;
}
.announcment-btns a{
  color: #333333;
  margin-right: 25px;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  text-decoration: underline;

}
.announcment-btns a:hover{
  scale: 1.05;

}
.citizens{
  width:100%;
margin: 50px 0;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
 background-color: #F2F2F2;

  
}
.citizens-container{
  max-width: 1400px;
   width: 100%;
    display: -ms-grid;
    display: grid;
    /* place-items: center; */
    gap: 30px;
    -ms-grid-columns: 80% 30px 20%;
    grid-template-columns: 80% 20%;
    margin: 0 auto;
    
}
.citizens-left{
  padding: 46px 0;
}
.citizens-left h2{
  margin-bottom: 46px;
  font-size: 30px;
}
.citizens-left a{
  display: block;
  font-family: "Helvetica Neue LT GEO Caps";
  max-width: 537px;
  width: 100%;
font-size: 18px;
}
.citizens-left h5{
  color:#8E8E8E;
}
.citizens-left a:last-child{
  color:#8E8E8E;
font-size: 14px;
display: -webkit-box;
display: -ms-flexbox;
display: flex;
-webkit-box-align: center;
    -ms-flex-align: center;
        align-items: center;
text-decoration: underline;
-webkit-transition: 300ms ease;
-o-transition: 300ms ease;
transition: 300ms ease;


gap: 20px;
margin-left: 7px;
margin-top: 23px;
}
.citizens-left a:last-child:hover{
  color: #333333;
  margin-left: 13px;
}
.citizens-left-item{
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  max-width: 637px;
  width: 100%;
  padding: 21px 35px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #F2F2F2;
  -webkit-transition: 250ms ease-in-out;
  -o-transition: 250ms ease-in-out;
  transition: 250ms ease-in-out;
  -webkit-box-shadow: 0px 3px 2.5px rgba(0,0,0,0.02);
          box-shadow: 0px 3px 2.5px rgba(0,0,0,0.02);

}
.citizens-left-item:hover{
  border: 1px solid #00923f;
  -webkit-box-shadow: none;
          box-shadow: none;
}
.citizens-left-item:hover  h5{
  color: #333333 !important
}
.citizens-left img{
  width: 8px;
  height: 8px;
}
.citizens-left-item img{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
width: 35px;
height: 35px;
  padding-right: 20px;
  border-right: 1px solid  #F2F2F2; 
}
.citizens-right{
  height: 100%;
  max-width: 320px;
  
  width: 100%;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 26px;
  padding: 26px 10px;
}
.citizens-right-item{
  width: 100%;
  height: 80px;
  /* height: 100%; */
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  
}
.citizens-right-item::before{
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #343434;
  opacity: 0.5;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  border-radius: 10px;
  z-index: 2;

 
}

.citizens-right-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
  scale: 1.2;

}
.citizens-right-item:hover img{
  scale: 1.3;
  opacity: 0.8;
  }
 
.citizens-right-item span{
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
  color: white;
  font-family: "Helvetica Neue LT GEO Caps";
font-size: 14px;
text-align: center;
width: 80%;
z-index: 3;

}
.public-info{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;

  background-size: cover;
  min-height: 409px;
  
}
.public-section-divider{
  max-width: 1400px;
  width: 100%;
  margin: 50px auto;
  font-family: "font-caps";
font-size: 30px;
color:#333333;
}
.public-info img{
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.public-info-container{
  max-width: 1400px;
  width: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-orient: vertical;

  -webkit-box-direction: normal;

      -ms-flex-direction: column;

          flex-direction: column;

 
  
}
.public-info-container button{
  max-width: 537px;
  width: 100%;
  padding: 30px 0px;
  border: none;
  background: #da251c;font-family: "font-caps";
  font-size: 18px;
  color: white;
  font-weight: 500;
  border-radius: 15px;
  margin-top: 26px;
  border: 1px solid rgba(255, 255, 255, 0);
  -webkit-transition: 350ms ease-out;
  -o-transition: 350ms ease-out;
  transition: 350ms ease-out;
  cursor: pointer;
}
.public-info-container button:hover{
  background: white;
  color: #da251c;
  border: 1px solid #DA251C;

}

.public-info-container button:last-child{
  background: #00923f;
 
}
.public-info-container button:last-child:hover{
  border: 1px solid #00923f;
  color: #00923f;
   background: white;
}


.services{
  width: 100%;
  margin-bottom: 100px;
  
}
.services-container{
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  background: #F2F2F2;
  padding: 50px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap:15px;
  border-radius: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.service{
  width: 301px;
 display: -webkit-box;
 display: -ms-flexbox;
 display: flex;
 -webkit-box-orient: vertical;
 -webkit-box-direction: normal;
     -ms-flex-direction: column;
         flex-direction: column;
 -webkit-box-align: center;
     -ms-flex-align: center;
         align-items: center;
 -webkit-box-pack: center;
     -ms-flex-pack: center;
         justify-content: center;
 gap: 25px;
  height: 181px;
  background: white;
  color: #C1C1C1;
  text-align: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 3px 2.5px rgba(0,0,0,0.03);
          box-shadow: 0px 3px 2.5px rgba(0,0,0,0.03);
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;

}
.service:hover{
  color: #333333;
}
.service:hover .servicesvg{
  border-color: #333333;
  
}

.service-more  {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background: #f2f2f2;
  border:2px solid white;

}
.service-more  a {
text-decoration: underline;

}

.servicesvg{
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-bottom: 25px;
  border-bottom: 1px solid #C1C1C1 ;
  width: 52px;
 height: 52px;
 fill: #C1C1C1;;


}
.service:hover  > .servicesvg{
  fill:#00923f;
}



.service-more img{
  width: 7px;height: 14px;
  padding-bottom: 0;
  border: none;
}
.service-more:hover{
  background: white;

}

footer{
  background: #00923f;
  width: 100%;

  /* margin-top: 100px; */
  height: 370px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-container{
  max-width: 1400px;
  width: 100%;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 130px;
  



}
.footer-container a,
.footer-container span{
  color: #FFFFFF;
  font-size: 14px;
  opacity: 0.7;

}
.footer-center-col-item,
.footer-left-col-item{
  opacity: 0.7;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
}
footer h4{
  color: #FFFFFF;
  font-size: 16px;
}
.footer-left-col,
.footer-center-col{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
  max-width: 400px;
  width: 100%;
}
.footer-center-col-item:hover,
.footer-left-col-item:hover{
  opacity: 1;

}
.footer-left-col-item span{
  display: inline-block;
  max-width: 180px;
  width: 100%;


}
.footer-left-col-item a{
 
  padding-left: 15px;
  border-left: 1px solid white;

}
footer svg{
  margin-right: 11px;
}
.copyright{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 0;
  font-size: 12px;

}
.copyright img{
  width: 60px;height: 20px;
}


/* 
///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////



ABOUT KEDA PAGE



///////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////


*/
.helper-nav{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  height: 40px;
  gap: 10px;
  padding-left: 70px;

}
.helper-nav a{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 5px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E2E2E2;
  font-size: 12px;
  cursor: pointer;
  text-decoration: underline;
  font-family: "font-caps";
  -webkit-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
  
}
.helper-nav a:last-child{
  color: #333333;
}
.helper-nav a:hover{
  color: #333333;
}
.helper-nav img{
  width: 5px;
  height: 7px;
}
.pages-paralax{
  height: 132px;
  width: 100%;
  background-image: url("images/paralax.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-attachment: fixed;
  background-position: bottom

}
.innerpage-main{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #F2F2F2;
  position: relative;
  /* min-height: 800px; */
 
  
}
.innerpage-main-bottom{
  max-width: 1400px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: inherit;
  padding: 50px 0;
  padding-inline: 120px;
  min-height: 700px;

 
 


}
.innerpage-main-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  min-width: 540px;
  max-width: 749px;
  width: 100%;
  height: 100%;
  overflow: hidden;


  

}
.innerpage-main-left-item{
  width: 100%;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #C1C1C1;
  font-size: 16px;
  height: 78px;
  padding-left: 28px;
  border-radius: 10px;
  gap: 30px;
  -webkit-transition: 250ms ease-out;
  -o-transition: 250ms ease-out;
  transition: 250ms ease-out;
  overflow: hidden;

  
}
.innerpage-main-left h2{
  font-size: 30px;
  color: #333333;
  margin-bottom: 48px;
  font-family: 'font-caps';
  
}
.innerpage-main-left p{
  font-size: 14px;
  color: #8e8e8e;
  margin-top: 9px;


}
.innerpage-main-left-item span {
  padding-left: 30px;
  border-left: 1px solid #C1C1C1;
  font-family: 'font-caps';
  height: 43px;
  display: -ms-grid;
  display: grid;
  place-items: center;
}
.news-right-innerpages{
  position: absolute;
  height: 100%;
  max-height: 967px;
  top: 0;
  right: 13%;

}
.innerpage-main-left-item:hover{
  color: #333333;
  -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
          transform: translateX(10px);
 

}
.innerpage-sakrebulo-news-item-left .greenbg{
  background: #00923f;
}




.innerpage-main-left-item img{
  width: 23px;
  height: 16px;
}
.innerpage-sakrebulo-news-item-right img{
  width: 7px;
  height: 14px;
  margin-left: 20px;
}
.innerpage-sakrebulo-news-item-left img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
  -webkit-transition: 350ms ease;
  -o-transition: 350ms ease;
  transition: 350ms ease;
  z-index: -1;
}
.innerpage-sakrebulo-news-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  gap: 15px;
  
  width: 100%;
  height: 200px;
  margin-bottom: 44px;
  padding-bottom: 44px;
  cursor: pointer;
  border-bottom: 1px solid #E2E2E2;
}
.innerpage-sakrebulo-news-item:hover .innerpage-sakrebulo-news-item-left p {
  color: white;
}
.innerpage-sakrebulo-news-item:hover .innerpage-sakrebulo-news-item-left img {
  scale: 1.05;
}

.innerpage-main-gallery{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;

  -webkit-box-orient: horizontal;

  -webkit-box-direction: normal;

      -ms-flex-direction: row;

          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  
}
.innerpage-gallery-item{
  max-width: 320px;
  width: 100%;
 
  -webkit-box-orient: vertical;
 
  -webkit-box-direction: normal;
 
      -ms-flex-direction: column;
 
          flex-direction: column;
  border: none;
  cursor: pointer;
  
  -webkit-transition: 250ms ease;
  
  -o-transition: 250ms ease;
  
  transition: 250ms ease;
}
.innerpage-gallery-item:hover .innerpage-sakrebulo-news-item-left img{
 
   scale: 1.05;
}


.innerpage-sakrebulo-news-item-left{
  width: 260px;
  height: 190px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  

}
.innerpage-gallery-item-top{
  width: 100%;
  overflow: hidden;
}
.innerpage-sakrebulo-news-item-left header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  padding-left: 8px;
  background: #DA251C;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 30px;
  font-size: 13px;
  text-align: center;
  color: white;
  gap: 5px;
  z-index: 10;

}
.innerpage-sakrebulo-news-item-right{
  width: 400px;
}
.innerpage-sakrebulo-news-item-left p{
  font-size: 13px;
  padding-left: 10px;
  
  border-left: 1px solid white;
opacity: 0.8;}
.innerpage-sakrebulo-news-item-right h4 {
  color: #8E8E8E;
  font-size: 16px;
  font-family: 'font-caps';
  font-weight: normal;

}
.innerpage-sakrebulo-news-item-right p {
  color: #C1C1C1;
  font-size: 14px;
  margin: 35px 0 25px 0;
  

}
.innerpage-sakrebulo-news-item-right a{
  color: #C1C1C1;
  font-size: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  text-decoration: underline;
 
  

}
.innerpage-sakrebulo-news-item-right a:hover{
  margin-left: 10px;
  color: #333;
}
.innerpage-sakrebulo-news-item:hover .innerpage-sakrebulo-news-item-right h4{
  color: #333333;
}
.innerpage-sakrebulo-news-item:hover .innerpage-sakrebulo-news-item-right p{
  color: #333333;
}
.innerpage-sakrebulo-news-item:hover .innerpage-sakrebulo-news-item-right a{
  color: #333333;
}

.innerpage-proj-header{
  padding-bottom: 48px;
  width: 100%;
  border-bottom: 1px solid #E2E2E2;
}

.text-g-images{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.gallery-img-item{
  width: 122px;
  height: 114px;
  border-radius: 10px;
  opacity: 0.5;
  -webkit-transition: 275ms ease-out;
  -o-transition: 275ms ease-out;
  transition: 275ms ease-out;
  cursor: pointer;
  


}
.gallery-img-item:hover{
  opacity: 1;
}
.gallery-img-item img{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.gallery-display{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
  gap: 10px;
  width: 100%;
  height: 320px;
  position: relative;
}
.gallery-btns{
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 50px;
  right: -50px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
}
.gallery-main-image{
  width: 100%;
  height: 100%;
}
#main-image{
  width: 100%;
  border-radius: 20px;
}

.text-g-cont{
  width: 100%;
  background: #F2F2F2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
}
.text-g-wrapper{
  max-width: 700px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 50px;
 padding: 50px 0px;
}
.gallery-bottom{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;gap: 20px;
}
.gallery-bottom p {
  padding-left: 10px;
}



.statement-form{
  max-width: 540px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 16px;

}
.statement-form input,
.contacts-form input {
  max-width: 260px;
  width: 100%;
  height: 50px;
  border: 1px solid #C1C1C1;
  border-radius: 10px;
  outline: none;
  padding: 25px 16px;
  margin-bottom: 14px;
  background: inherit;
  color: #c1c1c1;

}
.statement-form input::-webkit-input-placeholder, .statement-form textarea::-webkit-input-placeholder{
  font-size: 12px;
  color: #c1c1c1;
}
.statement-form input::-moz-placeholder, .statement-form textarea::-moz-placeholder{
  font-size: 12px;
  color: #c1c1c1;
}
.statement-form input:-ms-input-placeholder, .statement-form textarea:-ms-input-placeholder{
  font-size: 12px;
  color: #c1c1c1;
}
.statement-form input::-ms-input-placeholder, .statement-form textarea::-ms-input-placeholder{
  font-size: 12px;
  color: #c1c1c1;
}
.statement-form input::placeholder, 
.statement-form textarea::placeholder{
  font-size: 12px;
  color: #c1c1c1;
}
.statement-form textarea{
  width: 100%;
  height: 179px;
  resize: none;
  border: 1px solid #C1C1C1;
  color: #c1c1c1;
  outline: none;
  border-radius: 10px;
  background: inherit;

padding: 10px;}
.statement-form button{
  background: #00923F;
  color: white;
  width: 260px;
  height: 50px;
  border: none;
  border:1px solid inherit;
  border-radius: 10px;
  -webkit-transition: 250ms ease;
  -o-transition: 250ms ease;
  transition: 250ms ease;
  cursor: pointer;
  
}
.statement-form button:hover{
 
  border:1px solid #00923F ;
  background: inherit;
  color: #00923F;

}
.inner-h-adjustment{
  height: 100%;
}

.statement-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;gap: 13px;
}
.statement-list li {
  background: white;
  padding: 20px 14px;
  border-radius: 10px;
  -webkit-transition: 350ms ease-out;
  -o-transition: 350ms ease-out;
  transition: 350ms ease-out;
}
.statement-list li:hover {
  background: white;
  padding: 20px 14px;
  border-radius: 10px;
  margin-left: 10px;
}
.text-page-2-lists{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 45px;
  gap: 77px;
}


.text-page-2-lists li{
color: #8E8E8E;
margin-bottom: 7px;
font-size: 14px;
position: relative;
padding-left: 30px;
list-style: none;
cursor: pointer;

}

.text-page-2-lists li::before {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 10px; /* Custom width */
  height: 10px; /* Custom height */
  background-color: inherit;
  border: 1px solid #E2E2E2;
  border-radius: 50%; /* Makes it a circle */
  -webkit-transition: background-color 0.3s, width 0.3s, height 0.3s, -webkit-transform 0.3s;
  transition: background-color 0.3s, width 0.3s, height 0.3s, -webkit-transform 0.3s;
  -o-transition: background-color 0.3s, transform 0.3s, width 0.3s, height 0.3s;
  transition: background-color 0.3s, transform 0.3s, width 0.3s, height 0.3s;
  transition: background-color 0.3s, transform 0.3s, width 0.3s, height 0.3s, -webkit-transform 0.3s;
}

/* Change marker on hover */
.text-page-2-lists li:hover::before,
.text-page-2-lists li.selected::before
{
  background-color: green;

 
}
.text-page-links a{
  text-decoration: none;
  color: #00923F;
  cursor: pointer;
  font-size: 14px;
}
.text-page-links{
margin: 50px 0px;
}

.innerpage-main-left table thead{
  margin-bottom: 20px;
  color: #8E8E8E;
}
.innerpage-main-left td{
  border: 1px solid #c1c1c1;
  padding: 5px;
  color: #8E8E8E;
}
.contacts-page-item{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 670px;
  height: 323px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  padding-left: 72px;
  padding-right: 7px;
  background: #da251c;
  color: white;
  font-size: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}
.contacts-page-item:nth-child(3){
  background-color: #00923F;
}
.contacts-form{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
  gap: 5px;
  height: 100%;
  width: 237px;
}
.contacts-form input{
  margin-bottom: 0;
  width: 100%;
}
.contacts-form textarea{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal;-ms-flex-direction: column;flex-direction: column;
  resize: none;
  height: 104px;
  background: inherit;
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.419);
  padding: 10px;
  gap: 5px;
  border-color: #C1C1C1;
  width: 100%;
}
.contacts-form input{
  padding: 10px 10px;
  height: auto;
  color: rgba(255, 255, 255, 0.407);
  
}
.contacts-form input:focus,
.statement-form input:focus{
  border: 1px solid #3333;
  color: #333333;
  
}
.scroll-lock{
  overflow: hidden;
}

.contacts-form input::-webkit-input-placeholder, .contacts-form textarea::-webkit-input-placeholder

{
 
  color: rgba(255, 255, 255, 0.407);
  
}

.contacts-form input::-moz-placeholder, .contacts-form textarea::-moz-placeholder

{
 
  color: rgba(255, 255, 255, 0.407);
  
}

.contacts-form input:-ms-input-placeholder, .contacts-form textarea:-ms-input-placeholder

{
 
  color: rgba(255, 255, 255, 0.407);
  
}

.contacts-form input::-ms-input-placeholder, .contacts-form textarea::-ms-input-placeholder

{
 
  color: rgba(255, 255, 255, 0.407);
  
}

.contacts-form input::placeholder,
.contacts-form textarea::placeholder

{
 
  color: rgba(255, 255, 255, 0.407);
  
}
.contacts-form button{
 border: none;
 background: white;
 color: #333;
 padding: 15px 0;
 border-radius: 10px;
 cursor: pointer;
}
.contacts-page-info{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 17px;
}
.contacts-page-info a{
  color: white;
  margin-left: 20px;
}
.cp-h{
  margin-left: 40px;
  font-size: 18px;
}
.cp-h span{
font-size: 14px;
opacity: 0.7;}



.mobile-nav{
  display: none;
}

.meria-expanded-mobile{
  -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
          transform: translateX(110%);

}
.meria-expanded-submenu-mobile{
  -webkit-transform: translateX(110%);
      -ms-transform: translateX(110%);
          transform: translateX(110%);


}
.single-gallery-main{
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}
.single-gallery-bottom{
 
  max-width: 800px;
  margin-left: 150px;
  padding-inline: 0;

}
.innerpage-main-bottom{
  z-index: 2;
}
.contacts-map{
  margin-top: -200px;
}
.nav-list > a:hover{
  background: white;
}

@media only screen and (max-width: 1881px){
  .news-right-innerpages{
    right: 10%;
  }

}
@media only screen and (max-width: 1671px){
  .news-right-innerpages{
    right: 8%;
  }

}
@media only screen and (max-width: 1571px){
  .news-right-innerpages{
    right: 8%;
  }

}
@media only screen and (max-width: 1388px){
  .news-right-innerpages{
    right: -100px;
  }
  .single-gallery-bottom{
    margin-left: 50px;
  }

}
@media only screen and (max-width: 1285px){
  .news-right-innerpages{
    right: -100px;
  }
  .single-gallery-bottom{
    margin-left: 50px;
  }
  .single-gallery-bottom{
    max-width: 700px;
  }

}
@media only screen and (max-width: 1122px){
  .news-right-innerpages{
    right: -100px;
  }
  .single-gallery-bottom{
    margin-left: 50px;
  }
  .single-gallery-bottom{
    max-width: 650px;
  }

}
@media only screen and (max-width: 1013px){
  .news-right-innerpages{
    right: -100px;
  }
  .single-gallery-bottom{
    margin-left: 50px;
  }
  .single-gallery-bottom{
    max-width: 500px;
  }

}
@media only screen and (max-width: 980px){
  .single-gallery-main{
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .single-gallery-bottom{
    margin-left: 0px;
  }
  .news-right-innerpages{
    right: 0;
    left: 0;
  }
}
@media only screen and (max-width: 712px){
 
  .single-gallery-bottom{
    max-width: 80%;
  }

}





@media only screen and (max-width: 1500px){
  .navbar,
  .news-container,
  .announcments-container,
  .citizens-container,
  .public-info-container,
  .services-container,
.footer-container,
  .copyright,
  .public-section-divider,
  .container{
    max-width: 1200px;
    /* padding: 10px; */
    gap: 10px;
    padding-inline: 10px;
  }
  .copyright{
    padding: 20px;
  }
  .innerpage-main-left{
    max-width: 600px;
  }
  .gallery-inner-page{
    max-width: 800px;
  }
  .news-right-innerpages{
    right: 8%;
  }
  .carousel-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    min-width: calc((100% / 3) - 15.9px)
    

    }

    .announcment-btns{
  
      right: 18px;
    }
    .news-container,.citizens-container{
      -ms-grid-columns: 75% 25%;
      grid-template-columns: 75% 25%;
 
    
    }
    .carousel-container{
      width: 100%;
    }
    .announcment{
      max-width:97%
    }
    .nav-list > *{
      padding-right: 43px;
    }

}

@media only screen and (max-width: 1210px){
.navbar
  .news-container,
  .announcments-container,
  .citizens-container,
  .public-info-container,
  .services-container,
  .footer-container,
  .copyright,
  .public-section-divider
  {
    max-width: 1000px;
 
  }
  .container{
    width: 100%;
  }
  .news-right{
    padding-inline:5px
  }
  .news-right a{
    font-size: 14px;
    padding: 7px;
  }
  .nav-item{
    padding: auto;
    height: 54px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border: none;
    background: inherit;
    
  }
  .nav-list a{
    border: none;
  }
  .nav-list{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    
  }
  .innerpage-main-left{
    max-width: 540px;
  }
  .news-right-innerpages{
    right: 5%;
  }
  .gallery-inner-page{
    max-width: 800px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .nav-list > *{
    padding-right: 33px;
    padding-left: 13px;
  }



}
@media only screen and (max-width: 1070px){
  .news-container,
  .announcments-container,
  .citizens-container,
  .public-info-container,
  .services-container,

  .copyright,
  .public-section-divider{
    max-width: 800px;
 
  }
  .news-container{
    max-width: 95%;
  }
 
  .news-right{
    padding-inline:5px
  }
  .news-right a{
    font-size: 14px;
    padding: 7px;
  }
  .nav-item{
    padding: 20px 20px 17px 16px;
    
  }
  .nav-list a{
    border: none;
  }
 
 
 
  .nav-list > *{
   padding: 0;
   padding-right: 10px;
   padding-left: 5px;
  }


}
@media only screen and (max-width: 983px){
  .navigation{
    display: none;
  }
  #hamburger{
    display: block;
    /* position: absolute; */
    /* top: 100px;
    left: 0px; */
    z-index: 1101;
  }
  
  .topbar,.container{
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 100%;
  }
  .searchbar{
    position: relative;
  }
  
 
  .mobile-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  
bottom: 10px;    
-webkit-transform: translateX(-110%);    
    -ms-transform: translateX(-110%);    
        transform: translateX(-110%);    

  
    z-index: 1000;
    padding: 10px;
    list-style: none;
    position: fixed;
    height: 100vh;
  width: 300px;
    -webkit-transition: 550ms ease;
    -o-transition: 550ms ease;
    transition: 550ms ease;
    overflow: hidden;
    /* overflow-y: scroll; */
  }
  .mbn-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: auto;

  }
  .main-mobile-nav{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 300px;
    height: 100%;
    background:white;
   padding: 5px;
    z-index: 10;
    -webkit-transition: 500ms ease;
    -o-transition: 500ms ease;
    transition: 500ms ease;
  
  

  }
 
  .toggle-nav{
-webkit-transform: translateX(-20px);
    -ms-transform: translateX(-20px);
        transform: translateX(-20px);    
  }
  .main-mobile-nav li{
    width: 270px;
    background:white;
    min-height: 40px;
    font-family: 'font-caps';

    padding: 5px 0;
    padding-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;-webkit-box-pack: justify;-ms-flex-pack: justify;justify-content: space-between;-webkit-box-align: center;-ms-flex-align: center;align-items: center;
    border-bottom: 1px solid #8E8E8E;
    /* background:#DA251C; */
  }
  .meria-nav-prev,.branches-nav-prev{
    display: block;
    fill: white;
    z-index: 122;
  }
  .submenu-arrow{
    margin-left: 20px;
    width: 12px;
    height: 12px;
  }
  .carousel-item{
    min-width: calc((100% / 2) - 15.9px);
  }
.innerpage-main-bottom{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}
.news-right-innerpages{
  max-width: 350px;
  width: 100%;
}

.innerpage-sakrebulo-news-item-right p {
  margin: 25px 0 15px 0;
  
}
.searchbar{
  right: 20px;
}
 
  


}


@media only screen and (max-width: 890px){
  .footer-container{
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
 
  .footer-left-col-item{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    gap: 2px;

  }
  .footer-left-col-item a{
    padding-left: 0;
    border: none;
  }

}
@media only screen and (max-width: 768px){
  .innerpage-sakrebulo-news-item{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: auto;
  }
  .innerpage-sakrebulo-news-item-right{
    width: auto;
  }
  .text-page-2-lists{
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contacts-page-info a {
    margin-left: 5px;
  }
  .contacts-page-info {
    height: 80%;
  
  }
  .contacts-map{
    display: none;
  }
  .innerpage-main-bottom {
    padding: 20px 0px;
  }
  .contacts-page-item{
    border-radius: 0;
  }
  .contacts-form{
    width: 47%;
  }

  

}


.text-page-links a{
  text-decoration: underline;
}


@media only screen and (max-width: 660px){
.public-info{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.public-info-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.news-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow-x: hidden;
}
.announcments-wrapper{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
footer{
  height: 100%;
  padding: 50px;
}
.footer-container{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  gap: 30px;

}
.hero-carousel aside{
  left: 5%;
  font-size: 24px;
}
.bullets{
padding-left: 50px;}

}
@media only screen and (max-width: 500px){
.logo p{
  display: none;
}
.innerpage-main-left{
  padding-inline: 10px;
}
.container{
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding:0 ;

  
}
.innerpage-main-left-item{
  padding-left: 20px;
  font-size: 14px;
}

h2{
  font-size: 24px;
}
.topbar{
  padding: 5px ;
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white;
  
}
.submenu-arrow{
  width: 12px;
  height: 12px;
  
  margin-left: 20px;
}
.searchbar{
  margin-right: 15px;
}
.announcments-wrapper aside{
  width: 100%;
}
.citizens-container{
  -ms-grid-columns: 60% 40%;
  grid-template-columns: 60% 40%;
}
.citizens-left h2{
  font-size: 24px;
}
.citizens-left h5{
  font-size: 12px;
}
.service{
  width: 200px;
}
.citizens-left-item{
  padding: 21px 25px;

}
.citizens-left-item img{
  width: 25px;
  height: 25px;
}
.citizens-left{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
-webkit-box-pack: justify;
    -ms-flex-pack: justify;
        justify-content: space-between;
font-size: 12px;
}
.citizens-right-item span{
  width: 95%;
  font-size: 12px;
}
.public-section-divider{
  font-size: 24px;
}
.carousel-item-bottom{
  font-size: 13px;
  padding: 15px 7px;
  height: 132px;
}
.hero-carousel aside {
  left: 2%;
  font-size: 20px;
}
.innerpage-main-bottom{
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.innerpage-main-left{
  min-width: 0;
}
.news-right-innerpages{
  display: none;
}
.innerpage-sakrebulo-news-item-right h4{
  font-size: 13px;
}
.innerpage-sakrebulo-news-item-right p{
  font-size: 12px;
  margin: 20px 0 18px 0;
  ;
}
.contacts-page-item{
  padding-left: 10px;
  font-size: 12px;
}
.cp-h{
  margin-left: 0;
  font-size: 16px;
}
.cp-h span{
  font-size: 12px;
}
.innerpage-main-gallery{
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.hero-carousel aside{
  bottom: 80px;
}
.statement-form{
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center
}


}
@media only screen and (max-width: 420px){
.news-container{
  max-width: 100%;
}
.carousel{
  gap: 10px;
}
.carousel-item {
  min-width: calc((100% / 2) - 9.9px);
}
.carousel-item-bottom{
  padding: 5px 7px;
}
.citizens-left h2 {
  font-size: 20px;
}
footer{
  padding: 20px;

}
.footer-container{
  max-width: 100%;
}


}

.contacts-form textarea:focus{
  outline: #333;

}
.service span,
.innerpage-main-left p{
  font-family:'font-caps';
}
