* {
    box-sizing: border-box;
  }
  
.gallery-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    background: #F2F2F2;

}
.gallery-wrapper{
    max-width: 800px;
    width: 100%;
}
  
  .gallery-grid {
    width: 100%;
    margin: 0 auto;
  }
  
  .gallery {
    margin-top: 1vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 150px);
    grid-gap: 2px;
  }
  
  .gallery img {
    max-width: 100%;
    min-width: 100%;
    min-height: 100%;
  }
  
  .small {
    grid-row:span 1;
    grid-column: span 1;
  }

  
  .medium {
   grid-row:span 1;
    grid-column: span 2;
  }
  .big {
    grid-row:span 2;
    grid-column: span 2;
  }
  

.gallery-display{
    display: flex;
    justify-content: center;align-items: center;
    margin-bottom: 70px;
    gap: 10px;
    width: 100%;
    position: relative;
}
.gallery-image{
    cursor: pointer;
    overflow: hidden;
}
.gi{
    transition: 250ms ease;

}
.gallery-image:hover .gi{

    scale: 1.1;
}
.gallery-btns{
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 50px;
    right: -50px;
    top: 50%;
    transform: translateY(-50%);
}
.gallery-btns svg:nth-child(1){
    rotate: 90deg;
}
.gallery-btns svg:nth-child(2){
    rotate: 90deg;
}
  .gallery-main-image{
    width: 100%;
    height: 300px;
  }
  #main-image{
    border-radius: 10px;
  }
  .gallery-wrapper h2{
    margin: 50px 0;
    color: #333333;
  }
  .gallery-pag{
    padding: 30px 0;
  }
  @media only screen and (max-width: 1130px){
    .gallery-wrapper{
      max-width: 600px;
    }
  }
  @media only screen and (max-width: 480px){
    .gallery-btns{
      position: relative;
      display: flex;
      flex-direction: row;
      top: 22px;
      left: 0;
      gap: 10px;
    }
    .gallery-display{
      flex-direction: column;
    }
    .gallery-btns svg:nth-child(1){
      rotate: 0deg;
    }
    .gallery-btns svg:nth-child(2){
      rotate: 0deg;
    }
  }

