<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../main.css">
    <script defer src="../textgallery.js"> </script>
    <title>tეხტ აგალლერყ</title>
</head>

<body>
  <div class="topbar">

    <div class="container">
      <div id="hamburger">
        <span></span>
        <span></span>
        <span></span>
      </div>
      <a href="/" class="logo">
        <p>ქედის მუნიციპალიტეტის</p>
        <img src="../images/logo.png" alt="" />
        <p>keda municipality</p>
      </a>

      <div class="searchbar">
        <img src="../images/search-icon.png" alt="" />
        <span id="lang">eng</span>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="mbn-wrapper">


        <ul class="main-mobile-nav">
          <li><a href="/"> მთავარი</a></li>
          <li><a href="/templates/aboutkeda.html">ქედის შესახებ</a></li>
          <li id="meria-expand-btn">
            <p>მერია
            </p>
            <img class="submenu-arrow" src="../images/arrow-right.png" alt="" srcset="">

          </li>
          <li><a href="/templates/textpage.html">საკრებულო</a></li>
          <li><a href="/templates/textpage.html">მოქალაქისთვის</a></li>
          <li><a href="/templates/textpage.html">საჯარო ინფორმაცია</a></li>
          <li><a href="/templates/aboutkeda.html">სერვისები</a></li>
          <li><a href="/templates/contacts.html">კონტაქტი</a></li>
        </ul>
        <ul id="meria-expand-menu" class=" main-mobile-nav meria-expanded-mobile">
          <li>

            <svg xmlns="http://www.w3.org/2000/svg" class="meria-nav-prev" width="30.585" height="30.585"
              viewBox="302.098 465.152 30.585 30.585">
              <g data-name="Group 8104">
                <path
                  d="M317.39 465.152c8.446 0 15.293 6.847 15.293 15.293 0 8.446-6.847 15.292-15.293 15.292-8.446 0-15.292-6.846-15.292-15.292s6.846-15.293 15.292-15.293"
                  stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1" fill="transparent"
                  data-name="Path 56" />
                <path d="m310.593 480.445 6.797-6.797" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 57" />
                <path d="M310.593 480.445h13.594" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 58" />
                <path d="m317.39 487.242-6.797-6.797" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 59" />
              </g>
            </svg>
          </li>
          <li> <a href="/templates/textpage.html">მერიის შესახებ</a> </li>
          <li> <a href="/templates/textpage.html">სიახლეები</a> </li>
          <li> <a href="/templates/textpage.html">განცხადებები</a> </li>
          <li> <a href="/templates/textpage.html">მერი</a> </li>
          <li> <a href="/templates/textpage.html">მერის მოადგილეები</a> </li>
          <li id="branches-expand-btn">
            <a href="/templates/textpage.html">სამსახურები</a>
            <img class="submenu-arrow" src="../images/arrow-right.png" alt="" srcset="">

          </li>
          <li> <a href="/templates/textpage.html">მუნიციპალური</a> </li>
          <li> <a href="/templates/textpage.html"> სტრუქტურული ხე</a> </li>
          <li> <a href="/templates/textpage.html"> მემორანდუმები</a> </li>
          <li> <a href="/templates/textpage.html"> აუქციონები</a> </li>
          <li> <a href="/templates/textpage.html"> ტენდერები</a> </li>


        </ul>

        <ul id="branches-expand-menu" class=" main-mobile-nav meria-expanded-submenu-mobile">
          <li>

            <svg xmlns="http://www.w3.org/2000/svg" class="branches-nav-prev" width="30.585" height="30.585"
              viewBox="302.098 465.152 30.585 30.585">
              <g data-name="Group 8104">
                <path
                  d="M317.39 465.152c8.446 0 15.293 6.847 15.293 15.293 0 8.446-6.847 15.292-15.293 15.292-8.446 0-15.292-6.846-15.292-15.292s6.846-15.293 15.292-15.293"
                  stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1" fill="transparent"
                  data-name="Path 56" />
                <path d="m310.593 480.445 6.797-6.797" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 57" />
                <path d="M310.593 480.445h13.594" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 58" />
                <path d="m317.39 487.242-6.797-6.797" stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1"
                  fill="transparent" data-name="Path 59" />
              </g>
            </svg>
          <li>
            <a href="/templates/textpage.html">
              ადმინისტრაცია

            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">საფინანსო სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">ეკონომიკური განვითარების სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">სივრცითი მოწყობის, არქიტექტურისა და მშენებლობის სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">ზედამხედველობის სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">განათლების, კულტურის, სპორტის, ტურიზმის, ახალგაზრდულ საკითხთა და ძეგლთა დაცვის სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">ჯანმრთელობისა და სოციალური დაცვის სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">შიდა აუდიტის სამსახური
            </a>
          </li>
          <li>
            <a href="/templates/textpage.html">სამხედრო აღრიცხვის, გაწვევისა და მობილიზაციის სამსახური
            </a>
          </li>
        </ul>
      </div>
    </div>

  </div>

  <div class="navigation">
    <nav class="navbar">
      <ul class="nav-list">
        <a href="/">
          <li class="nav-item">მთავარი</li>
        </a>
        <a href="/templates/gallery.html">
          <li class="nav-item">ქედის შესახებ</li>
        </a>

        <li class="nav-item has-submenu">
          <a href="/templates/projects.html"> მერია </a>
          <ul class="submenu">
            <li>
              <a href="/templates/textpage.html">

                მერიის შესახებ
              </a>

            </li>
            <li><a href="/templates/merianews.html">
                სიახლეები
              </a></li>
            <li><a href="/templates/gancxadebebiMeria.html">
                განცხადებები
              </a></li>
            <li><a href="/templates/textpage.html">
                მერი

              </a></li>
            <li><a href="/templates/textpage.html">
                მერის მოადგილეები

              </a></li>



            <li class="has-expanded-submenu">
              <p>სამსახურები

                <img src="../images/arrow-right.png" alt="">
              </p>
              <ul class="expanded-submenu">
                <li>
                  <a href="/templates/textpage.html">
                    ადმინისტრაცია

                  </a>
                </li>
                <li>
                  <a href="">საფინანსო სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">ეკონომიკური განვითარების სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">სივრცითი მოწყობის, არქიტექტურისა და მშენებლობის სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">ზედამხედველობის სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">განათლების, კულტურის, სპორტის, ტურიზმის, ახალგაზრდულ საკითხთა და
                    ძეგლთა დაცვის სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">ჯანმრთელობისა და სოციალური დაცვის სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">შიდა აუდიტის სამსახური
                  </a>
                </li>
                <li>
                  <a href="/templates/textpage.html">სამხედრო აღრიცხვის, გაწვევისა და მობილიზაციის სამსახური
                  </a>
                </li>
              </ul>
            </li>
            <a href="/templates/textpage.html">

              <li>მერის წარმომადგენლები</li>
            </a>
            <li>
              <a href="/templates/textpage.html">მუნიციპალური
              </a>
            </li>
            <li>
              <a href="/templates/textpage.html">ორგანიზაციები
              </a>
            </li>
            <li>
              <a href="/templates/textpage.html">სტრუქტურული ხე
              </a>
            </li>
            <li>
              <a href="/templates/textpage.html">მემორანდუმები
              </a>
            </li>
            <li>
              <a href="/templates/textpage.html">აუქციონები
              </a>
            </li>
            <li>
              <a href="/templates/textpage.html">ტენდერები

              </a>
            </li>

          </ul>
        </li>

        <a href="/templates/projects.html">
          <li class="nav-item" >საკრებულო</li>
        </a>
        <a href="/templates/textpage.html">
          <li class="nav-item" data-submenu="submenu5">მოქალაქისთვის</li>
        </a>
        <a href="/templates/textpage.html">
          <li class="nav-item" data-submenu="submenu6">საჯარო ინფორმაცია</li>
        </a>
        <a href="/templates/aboutkeda.html">
          <li class="nav-item" data-submenu="submenu7">სერვისები</li>
        </a>
        <a href="/templates/contacts.html">
          <li class="nav-item" data-submenu="submenu8">კონტაქტი</li>
        </a>
      </ul>
    </nav>
  </div>
    <div class="helper-nav">
        <a>მთავარი</a>
        <a><img src="../images/arrow-right.png" alt=""> მოქალაქეებისთვის </a>
        <a><img src="../images/arrow-right.png" alt=""> გეოგრაფია და ბუნება </a>
    </div>









    <div class="text-g-cont">

        <div class="text-g-wrapper">
            <h2>Lorem ipsum dolor, sit amet consectetur adipisicing.</h2>


            <div class="gallery-display">
                <div class="gallery-main-image">
                    <img id="main-image" src="" alt="" srcset="">
                </div>
                <div class="gallery-btns">
                    <svg xmlns="http://www.w3.org/2000/svg" class="prev" width="30.585" height="30.585"
                        viewBox="302.098 465.152 30.585 30.585">
                        <g data-name="Group 8104">
                            <path
                                d="M317.39 465.152c8.446 0 15.293 6.847 15.293 15.293 0 8.446-6.847 15.292-15.293 15.292-8.446 0-15.292-6.846-15.292-15.292s6.846-15.293 15.292-15.293"
                                stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1" fill="transparent"
                                data-name="Path 56"></path>
                            <path d="m310.593 480.445 6.797-6.797" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 57"></path>
                            <path d="M310.593 480.445h13.594" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 58"></path>
                            <path d="m317.39 487.242-6.797-6.797" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 59"></path>
                        </g>
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" class="next" width="30.586" height="30.585"
                        viewBox="626.207 465.152 30.586 30.585">
                        <g data-name="Group 8108">
                            <path
                                d="M641.5 465.152c-8.446 0-15.293 6.847-15.293 15.293 0 8.446 6.847 15.292 15.293 15.292 8.446 0 15.293-6.846 15.293-15.292s-6.847-15.293-15.293-15.293"
                                stroke-linejoin="round" stroke-linecap="round" stroke="#c1c1c1" fill="transparent"
                                data-name="Path 56"></path>
                            <path d="m648.297 480.445-6.797-6.797" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 57"></path>
                            <path d="M648.297 480.445h-13.594" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 58"></path>
                            <path d="m641.5 487.242 6.797-6.797" stroke-linejoin="round" stroke-linecap="round"
                                stroke="#c1c1c1" fill="transparent" data-name="Path 59"></path>
                        </g>
                    </svg>
                </div>
            </div>


            <div class="gallery-bottom">

                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed beatae error quos ex. Beatae veritatis
                    illo culpa minus deserunt quidem assumenda possimus sint quae accusamus doloremque laudantium
                    facilis aliquam, ab officia repudiandae expedita ipsum totam. Eos consequatur aspernatur et
                    accusantium.</p>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita autem recusandae officiis nostrum
                    voluptas! Voluptatibus, sit itaque blanditiis cupiditate dolore quae aliquid, ipsum nam tenetur
                    consectetur eos pariatur. Doloremque, at.</p>
                <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid quas suscipit, optio totam
                    voluptatibus vero nobis recusandae doloribus necessitatibus eveniet deleniti iste provident dolores,
                    at, voluptate reprehenderit ipsam. Voluptate quam dicta sint maiores tenetur aperiam reprehenderit
                    placeat culpa quaerat adipisci!
                </p>
                <br>
                <br>

                <div class="text-g-images">

                </div>
            </div>

        </div>

    </div>




    <footer>
        <main class="footer-container">
          <div class="footer-left-col">
            <h4>სატელეფონო ცნობარი</h4>
            <div class="footer-left-col-item">
              <span>ტურისტული ინფო ცენტრი</span>
              <a href="">599 90 90 93</a>
            </div>
            <div class="footer-left-col-item">
              <span>ადგილობრივი პოლიცია</span>
              <a href="">500 00 00 00</a>
            </div>
            <div class="footer-left-col-item">
              <span>სახანძრო დეპარტამენტი</span>
              <a href="">500 00 00 00</a>
            </div>
            <div class="footer-left-col-item">
              <span>სასწრაფო დახმარება</span>
              <a href="">500 00 00 00</a>
            </div>
          </div>
    
          <div class="footer-center-col">
            <h4>მიმართე მერიას</h4>
            <span>ქედის მუნიციპალიტეტის მერია</span>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13.067"
                height="13.066"
                viewBox="832.705 4332 13.067 13.066"
              >
                <g data-name="Phone">
                  <path
                    d="m840.288 4341.333 1.4-1.283c.117-.117.234-.117.35-.117l.234.117 3.266 1.517c.234.116.234.233.234.466-.117.933-.35 1.633-.934 2.1-.583.583-1.4.933-2.45.933-1.05 0-2.1-.233-3.266-.816-1.167-.584-2.217-1.4-3.267-2.333-.583-.817-1.283-1.634-1.75-2.567-.467-.933-.933-1.75-1.167-2.567-.233-.7-.233-1.516-.233-2.216.117-.7.35-1.284.817-1.75.466-.467 1.166-.7 2.216-.817.234 0 .35.117.467.233l1.75 3.267c0 .117.117.233.117.233 0 .117 0 .234-.117.35l-1.517 1.4c-.116.234-.116.467 0 .584.35.7.934 1.283 1.4 1.866a11.78 11.78 0 0 0 1.867 1.517c.233.117.467.117.583-.117Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 110"
                  />
                </g>
              </svg>
              <a href="">0 425 25 00 25</a>
            </div>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14.35"
                height="11.48"
                viewBox="832 4359.931 14.35 11.48"
              >
                <g data-name="Group 7696">
                  <path
                    d="M844.556 4361.845h-10.762l5.38 4.783 5.382-4.783Zm-12.556 0c0-1.053.807-1.914 1.794-1.914h10.762c.986 0 1.794.861 1.794 1.914v7.653c0 1.052-.808 1.913-1.794 1.913h-10.762c-.987 0-1.794-.86-1.794-1.913v-7.653Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 50"
                  />
                </g>
              </svg>
              <a href="">kedamunicipality@gmail.com</a>
            </div>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14.502"
                height="17.599"
                viewBox="831.08 4387.2 14.502 17.599"
              >
                <g data-name="Group 7698">
                  <path
                    d="M838.29 4397.672a3.065 3.065 0 0 0 3.07-3.07c0-1.645-1.316-3.18-3.07-3.18a3.065 3.065 0 0 0-3.07 3.07c0 1.645 1.425 3.18 3.07 3.18Zm-5.154-8.334a7.28 7.28 0 0 1 10.307 0 7.28 7.28 0 0 1 0 10.308l-5.153 5.154-5.154-5.154c-2.741-2.851-2.741-7.457 0-10.308Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 114"
                  />
                </g>
              </svg>
              <a href=""
                >მ. კოსტავას ქ. 3, დაბა ქედა, <br />
                აჭარა, საქართველო</a
              >
            </div>
          </div>
          <div class="footer-center-col">
            <h4>მიმართე საკრებულოს</h4>
            <span>ქედის მუნიციპალიტეტის საკრებულო</span>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="13.067"
                height="13.066"
                viewBox="832.705 4332 13.067 13.066"
              >
                <g data-name="Phone">
                  <path
                    d="m840.288 4341.333 1.4-1.283c.117-.117.234-.117.35-.117l.234.117 3.266 1.517c.234.116.234.233.234.466-.117.933-.35 1.633-.934 2.1-.583.583-1.4.933-2.45.933-1.05 0-2.1-.233-3.266-.816-1.167-.584-2.217-1.4-3.267-2.333-.583-.817-1.283-1.634-1.75-2.567-.467-.933-.933-1.75-1.167-2.567-.233-.7-.233-1.516-.233-2.216.117-.7.35-1.284.817-1.75.466-.467 1.166-.7 2.216-.817.234 0 .35.117.467.233l1.75 3.267c0 .117.117.233.117.233 0 .117 0 .234-.117.35l-1.517 1.4c-.116.234-.116.467 0 .584.35.7.934 1.283 1.4 1.866a11.78 11.78 0 0 0 1.867 1.517c.233.117.467.117.583-.117Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 110"
                  />
                </g>
              </svg>
              <a href="">0 425 25 00 27</a>
            </div>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14.35"
                height="11.48"
                viewBox="832 4359.931 14.35 11.48"
              >
                <g data-name="Group 7696">
                  <path
                    d="M844.556 4361.845h-10.762l5.38 4.783 5.382-4.783Zm-12.556 0c0-1.053.807-1.914 1.794-1.914h10.762c.986 0 1.794.861 1.794 1.914v7.653c0 1.052-.808 1.913-1.794 1.913h-10.762c-.987 0-1.794-.86-1.794-1.913v-7.653Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 50"
                  />
                </g>
              </svg>
              <a href="">sakrebulo@keda.gov.ge </a>
            </div>
            <div class="footer-center-col-item">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="14.502"
                height="17.599"
                viewBox="831.08 4387.2 14.502 17.599"
              >
                <g data-name="Group 7698">
                  <path
                    d="M838.29 4397.672a3.065 3.065 0 0 0 3.07-3.07c0-1.645-1.316-3.18-3.07-3.18a3.065 3.065 0 0 0-3.07 3.07c0 1.645 1.425 3.18 3.07 3.18Zm-5.154-8.334a7.28 7.28 0 0 1 10.307 0 7.28 7.28 0 0 1 0 10.308l-5.153 5.154-5.154-5.154c-2.741-2.851-2.741-7.457 0-10.308Z"
                    fill="#fff"
                    fill-rule="evenodd"
                    data-name="Path 114"
                  />
                </g>
              </svg>
              <a href=""
                >მ. კოსტავას ქ. 3, დაბა ქედა, <br />
                აჭარა, საქართველო</a
              >
            </div>
          </div>
        </main>
      </footer>
      <div class="copyright">
        <p>ყველა უფლება დაცულია &copy; 2024</p>
        <a href="https://shindi.ge/" target="_blank" >
    
          <img src="../images/shindi.png" alt="" />
        </a>
      </div>
</body>

</html>